<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>AddController</servlet-name>
		<display-name>AddController</display-name>
		<description></description>
		<servlet-class>com.ems.webapp.AddController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<display-name>LoginController</display-name>
		<description></description>
		<servlet-class>com.ems.webapp.controller.LoginController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<display-name>LogoutController</display-name>
		<description></description>
		<servlet-class>com.ems.webapp.controller.LogoutController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddEmployeeController</servlet-name>
		<display-name>AddEmployeeController</display-name>
		<description></description>
		<servlet-class>com.ems.webapp.controller.AddEmployeeController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddDepartmentController</servlet-name>
		<display-name>AddDepartmentController</display-name>
		<description></description>
		<servlet-class>com.ems.webapp.controller.AddDepartmentController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddRLController</servlet-name>
		<display-name>AddRLController</display-name>
		<description></description>
		<servlet-class>com.ems.webapp.controller.AddRLController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewEmployeeController</servlet-name>
		<display-name>ViewEmployeeController</display-name>
		<description></description>
		<servlet-class>com.ems.webapp.controller.ViewEmployeeController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditEmployeeController</servlet-name>
		<display-name>EditEmployeeController</display-name>
		<description></description>
		<servlet-class>com.ems.webapp.controller.EditEmployeeController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateEmployeeController</servlet-name>
		<display-name>UpdateEmployeeController</display-name>
		<description></description>
		<servlet-class>com.ems.webapp.controller.UpdateEmployeeController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteEmployeeController</servlet-name>
		<display-name>DeleteEmployeeController</display-name>
		<description></description>
		<servlet-class>com.ems.webapp.controller.DeleteEmployeeController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewDepartmentController</servlet-name>
		<display-name>ViewDepartmentController</display-name>
		<description></description>
		<servlet-class>com.ems.webapp.controller.ViewDepartmentController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewRLController</servlet-name>
		<display-name>ViewRLController</display-name>
		<description></description>
		<servlet-class>com.ems.webapp.controller.ViewRLController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckNewRLController</servlet-name>
		<display-name>CheckNewRLController</display-name>
		<description></description>
		<servlet-class>com.ems.webapp.controller.CheckNewRLController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SubmitReportController</servlet-name>
		<display-name>SubmitReportController</display-name>
		<description></description>
		<servlet-class>com.ems.webapp.controller.SubmitReportController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateReportController</servlet-name>
		<display-name>CreateReportController</display-name>
		<description></description>
		<servlet-class>com.ems.webapp.controller.CreateReportController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewOldReportsController</servlet-name>
		<display-name>ViewOldReportsController</display-name>
		<description></description>
		<servlet-class>com.ems.webapp.controller.ViewOldReportsController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditReportController</servlet-name>
		<display-name>EditReportController</display-name>
		<description></description>
		<servlet-class>com.ems.webapp.controller.EditReportController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateReportController</servlet-name>
		<display-name>UpdateReportController</display-name>
		<description></description>
		<servlet-class>com.ems.webapp.controller.UpdateReportController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddController</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddEmployeeController</servlet-name>
		<url-pattern>/addEmp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddDepartmentController</servlet-name>
		<url-pattern>/addDept</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddRLController</servlet-name>
		<url-pattern>/addRL</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewEmployeeController</servlet-name>
		<url-pattern>/viewEmp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditEmployeeController</servlet-name>
		<url-pattern>/editEmp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateEmployeeController</servlet-name>
		<url-pattern>/updateEmp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteEmployeeController</servlet-name>
		<url-pattern>/delEmp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewDepartmentController</servlet-name>
		<url-pattern>/viewDept</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewRLController</servlet-name>
		<url-pattern>/viewRL</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckNewRLController</servlet-name>
		<url-pattern>/checkNewRL</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubmitReportController</servlet-name>
		<url-pattern>/submitReport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateReportController</servlet-name>
		<url-pattern>/createReport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewOldReportsController</servlet-name>
		<url-pattern>/viewOldReports</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditReportController</servlet-name>
		<url-pattern>/editReport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateReportController</servlet-name>
		<url-pattern>/updateReport</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>
